*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
        height: 100vh;
        background-color: rgb(2, 32, 65);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

        margin-top: 0px;
}
#logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 300px;
}
#logosenai{
    width: 250px;
}
#img2Rp{
    width: 20%;
    height: 100px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    box-shadow: 0px 5px 0px rgb(2, 32, 65);
}

header {
    border: solid;
    width: 80vw;
    background-color: #94c7f4;
    
}


a:hover{
    box-shadow: 0px 1.5px 0px rgb(2, 32, 65) ;
    cursor: pointer;
}

section{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid;
    width: 80vw;
    height: 100vh;
    background-color: #94c7f4;
}



// Imagens :
.container{
    position: relative;
    padding: 15px;
    max-width: 40px;
    
}
.galeriaembrulho{
    overflow-x: auto;
}

.galeria{
    display: flex;
    flex-flow: row nowrap;
}

.seta-esquerda,
seta-direita{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;   
    background: linear-gradient(to left, transparent 0%,black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}
.seta-direita{
    left: 0;
    right: auto;
    bottom: 0;   
    background: linear-gradient(to right, transparent 0%,black 200%);
}
    .seta-esquerda: :hover{
    .seta-direita: :hover{
    opacity: 1;
    }

